{% extends "base.html" %}

{% block title %} Water Tanker-Entry {% endblock %}

{% block content %}
<div class="content">

    <h2>Water Tanker Entry Form</h2>
    {% if entry_status_content %}
        <h4 class="entry_status_content">Entered information has been logged </h4>
    {% endif %}

    <form action="{{ url_for('entry_page') }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required list="regular_customers">
        <datalist id="regular_customers">
            <option value="Brijpal">
            <option value="Imrat">
            <option value="Jain">
        </datalist>
        <br><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required value="{{default_date}}"><br><br>

        <label for="time">Time:</label>
        <input type="time" id="time" name="time" value="{{last_time}}" required><br><br>

        <label for="note">Note:</label><br>
        <textarea id="note" name="note" rows="4" cols="50"></textarea><br><br>

        <input name="submit" type="submit" value="Submit">
    </form>
</div>



<div class="last_entry">
    {% if not last_log.empty %}
        <h2>Last Entry Below</h2>
        {{last_log.to_html(index=False) | safe}}
        <form class="non-form" action="{{url_for('entry_page')}}" method="POST">
            <button name="delete_btn" value="delete_btn" class="remove_last_entry" >Delete Entry</button>
        </form>
    {% endif%}

</div>
{% endblock %}