{% extends "base.html" %}

{% block title %} Water Tanker-Payment {% endblock %}

{% block content %}

<style>
    th:nth-child(1),
    td:nth-child(1) {
        display: table-cell;
    }
</style>

<h2>Payment Update Form</h2>
<div class="content">
    <form action="{{ url_for('payment_entry_page') }}" method="POST">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required list="regular_customers">
        <datalist id="regular_customers">
            <option value="Brijpal">
            <option value="Imrat">
            <option value="Jain">
        </datalist>
        <br><br>

        <label for="amount">Amount (Rs.):</label>
        <input type="number" id="amount" name="paid_amount" step="1" value='0'><br><br>


        <input name="update" type="submit" value="Update">
        <hr>
        <label for="retrieve_pay"> Get Payments:</label>
        <input id="retrieve_pay" name="retrieve" type="submit" value="By Name">
        <input name="retrieve" type="submit" value="All" formnovalidate>
    </form>

    {% if update_succeed == True %}
        <h2>Payment Recorded in updated logs.</h2>
    {% endif %}

</div>

<style>
    th:nth-child(1),
    td:nth-child(1) {
        display: table-cell;
    }
</style>


{% include "table.html" %}


{% endblock %}

