{% extends "base.html" %}

{% block title %} Water Tanker-Retrieval {% endblock %}

{% block content %}
<div class="content">
    <h1>Retrieve Tanker Logs</h1>
    <form method="post" id="retrieveForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" required><br><br>

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required><br><br>

        <input class="button" name="submit" value="Submit" type="submit">
        <input class="today_btn button" formnovalidate name="logs_today" value="Retrieve Today's Log" type="submit">
    </form>

    <h1>Retrieve by Date</h1>
    <form method="post">
        <label for="specified-date">Date:</label>
        <input type="date" id="specified-date" name="specified-date" required><br><br>
        <input class="today_btn button" name="logs_by_date" value="Retrieve by Date" type="submit">
    </form>


</div>
<div id="response">
    {% if data_table_bool %}
        {% if not data_table.empty %}
            <h3>Here is the Query Result</h3>
            {{data_table.to_html(index=False) | safe}}
            <h4 class="tanker_total">Total Tanker Count = {{data_table.shape[0]}}</h4>
            <h4 class="tanker_total">Total Amount to get paid for pending payments = {{amount_sum}}</h4>
        {% else %}
            <h3>No Data to show.</h3>
        {% endif%}
    {% else %}
        <h3>No Data to show.</h3>
    {% endif %}
</div>

{% endblock %}