<div id="response" class="table">
    {% if data_table_bool %}
        {% if not data_table.empty %}
            <h3>Here is the Query Result</h3>
            <div class="section_table">
            <table class="dataframe">

              <thead>
                <tr style="text-align: right;">
                {% for name in data_table.columns %}
                    <th>{{name}}</th>
                {% endfor %}
                    <th>Delete</th>
                </tr>
              </thead>

              <tbody>
              {% for index, row in data_table.iterrows() %}
                <tr>
                    {% for name, value in row.items() %}
                        <td>{{value}}</td>
                    {% endfor %}
                    <td class="delete-btn_td">
                        <form class="delete-form" action="{{ url_for('home') }}" method="post">
                            <button class="delete-btn" type="submit" name="table-index" value="{{index}}">
                                <svg class="delete-btn-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                            </button>
                        </form>
                    </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
            <h4 class="tanker_total">Total Tanker Count = {{data_table.shape[0]}}</h4>
            <h4 class="tanker_total">Total Amount to get paid for pending payments = {{amount_sum}}</h4>
        {% else %}
            <h3>No Data to show.</h3>
        {% endif%}
    {% else %}
        <h3>No Data to show.</h3>
    {% endif %}
</div>