<div id="response">
    {% if data_table_bool %}
        {% if not data_table.empty %}
            <h3>Here is the Query Result</h3>
            {{data_table.to_html(index=False) | safe}}
            <h4 class="tanker_total">Total Tanker Count = {{data_table.shape[0]}}</h4>
            <h4 class="tanker_total">Total Amount to get paid for pending payments = {{amount_sum}}</h4>
        {% else %}
            <h3>No Data to show.</h3>
        {% endif%}
    {% else %}
        <h3>No Data to show.</h3>
    {% endif %}
</div>